rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // allow read, write;
      // allow read, create, delete;

      // only authenticated user can create transaction
      allow create: if request.auth != null;
      
      // only authenticated user uid must match doc creator to read && write
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}